<!DOCTYPE html>
<html>
<head>
    <title>E</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.0.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.0.1/mapbox-gl.css' rel='stylesheet' />

</head>
<body>

<div id='map' style='width: 400px; height: 300px;'></div>


<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoienVsaWNhbWlyIiwiYSI6ImNrampiYjF2NjJxcDkzMXNja3dvNnAzZjYifQ.0Dl5T2OlkMmbszwdAVKxKw';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
        center: [-74.5, 40], // starting position [lng, lat]
        zoom: 9 // starting zoom
    });
</script>
</body>
</html>