<!DOCTYPE html>
<html>
<head>
    <title>MUNCHO</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" href='./stylesheets/ikona.gif'>
</head>
<body id="bgHome">
<nav class="navbar navbar-dark navbarAlter fixed-top">
    <a class="navbar-brand" href="/">
        <img src="./stylesheets/ikona.gif" width="30" height="30" class="d-inline-block align-top" alt="">
        MUNCHO
    </a>
</nav>
<div class="container">
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
        </div>
        <div class="col" id = "loginForm">
            <div class="container" style="text-align: center;">
                <h1><b><%= naziv %></b></h1>
                <h3><%= restoran[0].grad %></h3>
                <p><%= restoran[0].adresa %></p>
                <hr>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>